{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body  style="background-color: #E8E8E8;">
    <div class="container">
        <div class="master-div">
            <div class="card" style="">
                <div class="card-header">
                    <h3>Upload a photo</h3>
                </div>
                <div class="card-body">
                        {% if messages != None %}
                            <div class="alert alert-success" role="alert">
                                <p class="success-alert"><i class="fas fa-check-circle"></i> {{ messages }}</p>
                            </div>
                        {% endif %}
                    <form action="/new/photo/" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{form}}
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-success">
                                    <i class="fas fa-save"></i>
                                    <span>Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</body>
