{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body style="background-color: 	#E8E8E8;">
<div class="master-div">
    <div class="container">
        <div class="card card-body">
            <div class="top_input">
                <input type="text" placeholder="Search Photos" class="form-control" id="input_search"
                       onkeyup="dynamicSearch()">
            </div>
            <div class="row sort-buttons">
                <div style="margin-right: 10px;">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="text" style="display: none;" name="date">
                        <button type="submit" class="btn btn-info">Order by data</button>
                    </form>
                </div>
                <div style="margin-left: 10px;">

                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="text" style="display: none;" name="likes">
                        <button type="submit" class="btn btn-info">Order by likes</button>
                    </form>
                </div>
            </div>
            <ul id="photo_gallery">
                {% for photo in photos %}
                    <li class="photo">
                        <img src="{{ photo.image.url }}" alt="image">
                        <p class="photo_name">{{ photo.description }}</p>
                        <form action="/" method="POST">
                            {% csrf_token %}
                            <input type="text" style="display: none" value="{{ photo.id }}" name="id">
                            <button type="submit" class="btn btn-primary" style="margin-left: 40%">
                                <i class="fas fa-thumbs-up"></i>
                            </button>
                            <span class="likes">{{ photo.likes }}</span>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
