.master-div {
    width: 969px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
}

.card-header {
    height: 80px;
}

.card-header h3 {
    margin-top: 10px;
}

.card-body {
    margin-top: 20px;
}

.card-login {
    border: 1px #E8E8E8 solid;
    min-height: 300px;
}

.card-content {
    margin-top: 40px;
}

#basic-addon1 {
    background-color: transparent;
}

.no-style:focus {
    border: 1px solid #ced4da !important;
    box-shadow: 0 0 0 0 transparent !important;
}

.information-body {
    color: gray;
}