.top_input {
    margin-top: 20px;
    margin-bottom: 40px;
}

#photo_gallery li {
    display: inline-block;
    margin-right: 60px;
}

#photo_gallery img {
    height: 200px;
    width: 200px;
}

.top_input input {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 2rem;
    border: 1px solid #CCC;
    text-align: center;
    font-size: 1.5rem;
}

.master-div {
    width: 1000px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sort-buttons {
    position: absolute;
    left: 380px;
    top: 100px;
}