{% if user.is_active and user.is_staff %}

    {% load i18n static %}<!DOCTYPE html>
    {% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
    <html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}"/>
        {% block extrastyle %}{% endblock %}
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css"
                  href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>{% endif %}
        {% block extrahead %}{% endblock %}
        {% block blockbots %}
            <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
    </head>
    {% load i18n %}

    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
          data-admin-utc-offset="{% now "Z" %}">

    <!-- Container -->
    <div id="container">

        {% if not is_popup %}
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    {% block branding %}
                        <h1>Private Area</h1>
                    {% endblock %}
                </div>
                {% block usertools %}
                    {% if has_permission %}
                        <div id="user-tools">
                            {% block welcome-msg %}
                                {% trans 'Welcome,' %}
                                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                            {% endblock %}
                            {% block userlinks %}
                                {% if site_url %}
                                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                                {% endif %}
                                {% if user.is_active and user.is_staff %}
                                    {% url 'django-admindocs-docroot' as docsroot %}
                                    {% if docsroot %}
                                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                                    {% endif %}
                                {% endif %}
                                {% if user.has_usable_password %}
                                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                                {% endif %}
                                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                            {% endblock %}
                        </div>
                    {% endif %}
                {% endblock %}
                {% block nav-global %}{% endblock %}
            </div>
            <!-- END Header -->
            {% block breadcrumbs %}
                <div class="breadcrumbs">
                    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                    {% if title %} &rsaquo; {{ title }}{% endif %}
                </div>
            {% endblock %}
        {% endif %}

        {% block messages %}
            {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear"/>
        </div>
        <!-- END Content -->

        {% block footer %}
            <div id="footer"></div>{% endblock %}
    </div>
    <!-- END Container -->

    </body>
    </html>
{% else %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static "css/base_site.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "js/base_site.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    </head>
    <body style="background-color: #E8E8E8;">

    <div class="master-div row">
        <div class="card">
            <div class="card-header">
                <h3>Gallery Administration</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="font-weight: 300;">Informations</h3>
                        <div class="information-body">
                            You got a request from a friend to create a gallery for his weeding where his friends
                            will be
                            able to upload their photos and he`ll have a unified gallery with all friend's photos.
                            He wants to be able to approve the the photos before be visible to everyone. He and his
                            wife
                            should be the only one able to approve new photos.
                            Users must be able to like photos.
                            Users should be able to sort the photos by total of likes or by date taken.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 style="font-weight: 300;">Private Area</h3>
                        <div class="card-body card-login">
                            <ul class="nav nav-tabs justify-content-center">
                                <li class="active nav-item"></li>
                                <a>Login</a>
                            </ul>
                            <div class="card-content">
                                <form action="/admin/login/?next=/admin/" method="post" id="login-form">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <label class="required" for="id_username">Username:</label>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-user"></i>
                                        </span>
                                            </div>
                                            <input type="text" name="username" autofocus="" maxlength="254"
                                                   class="form-control no-style" required="" id="id_username">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="required" for="id_password">Password:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                            </div>
                                            <input type="password" name="password" required=""
                                                   class="form-control no-style" id="id_password">
                                            <input type="hidden" name="next" value="/admin/">
                                        </div>
                                    </div>


                                    <div class="col-md-12 text-center">
                                    <div class="submit-row">
                                        <label>&nbsp;</label><input type="submit" value="Log in" class="btn btn-primary" style="width: 200px;">
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endif %}



